<div class="container">
  <h1>Form Builder</h1>
  <form [formGroup]="form" (ngSubmit)="save($event)">
    <div *ngVar="'fullName' as fromGroup" [formGroupName]="fromGroup">
      <div *ngVar="'name' as field">
        <mat-form-field appearance="fill">
          <mat-label>{{ field | titlecase }}</mat-label>
          <input matInput type="text" [formControlName]="field" />
        </mat-form-field>
        <app-form-errors
          [field]="getField(fromGroup + '.' + field)"
        ></app-form-errors>
      </div>
      <div *ngVar="'last' as field">
        <mat-form-field appearance="fill">
          <mat-label>{{ field | titlecase }}</mat-label>
          <input matInput type="text" [formControlName]="field" />
        </mat-form-field>
        <app-form-errors
          [field]="getField(fromGroup + '.' + field)"
        ></app-form-errors>
      </div>
    </div>
    <div *ngVar="'email' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="email" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div>

    <div *ngVar="'phone' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="phone" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div>

    <div *ngVar="'color' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="color" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div>

    <p>
      Date:{{ getField("date")?.value }}
      <input type="date" formControlName="date" />
    </p>

    <p>
      Month:{{ getField("month")?.value }}
      <input type="month" formControlName="month" />
    </p>

    <div *ngVar="'age' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="number" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div>

    <div *ngVar="'password' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="password" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div>

    <p>
      Wekend:{{ getField("week")?.value }}
      <input type="week" formControlName="week" />
    </p>

    <p>
      Date and time:{{ getField("time")?.value }}
      <input type="datetime-local" formControlName="time" />
    </p>

    <div *ngVar="'search' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="search" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div>

    <p>
      Description:{{ getField("description")?.value }}
      <textarea type="text" formControlName="description"> </textarea>
    </p>

    <p>
      Category:{{ getField("category")?.value }}
      <select formControlName="category">
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </p>

    <p>
      Category Multiple:{{ getField("categories")?.value }}
      <select formControlName="categories" multiple>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </p>

    <!-- <div *ngVar="'agree' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="checkbox" [formControlName]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div> -->

    <!-- <div *ngVar="'gender' as field">
      <mat-form-field appearance="fill">
        <mat-label>{{ field | titlecase }}</mat-label>
        <input matInput type="radio" [formControlName]="field" [name]="field" />
      </mat-form-field>
      <app-form-errors [field]="getField(field)"></app-form-errors>
    </div> -->

    <p>
      <button type="submit" [disabled]="form.invalid">Enviar disabled</button>
      <button type="submit">Enviar touched</button>
    </p>
  </form>
</div>
