/* You can add global styles to this file, and also import other style files */

.container {
  padding-left: 25%;
  width: 50%;
}

.error-message {
  opacity: 0;
  transition: all 0.5s ease-in;
  &.active {
    opacity: 1;
  }
  & strong {
    color: darkred;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-form-field {
  width: 100%;
}
